dist/
node_modules/
content/materials/
public/materials-content/
public/materials-index.json
public/sitemap.xml
src/materials/generated-materials.json
*.png
*.svg
content/projects/
public/projects-content/
public/projects-index.json
src/projects/generated-projects.json
